@font-face {
  font-family: "iconfont"; /* Project id 4503957 */
  src: url('//at.alicdn.com/t/c/font_4503957_9xyhjc8hgfs.woff2?t=1713511195948') format('woff2'),
       url('//at.alicdn.com/t/c/font_4503957_9xyhjc8hgfs.woff?t=1713511195948') format('woff'),
       url('//at.alicdn.com/t/c/font_4503957_9xyhjc8hgfs.ttf?t=1713511195948') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuaxin:before {
  content: "\e650";
}

.icon-mima:before {
  content: "\e65e";
}

.icon-guanliyuandenglu:before {
  content: "\e61a";
}

.icon-changci-:before {
  content: "\e65b";
}

.icon-pingluntongji:before {
  content: "\e684";
}

.icon-shoupiao:before {
  content: "\f1dc";
}

.icon-xiaoshoue:before {
  content: "\e607";
}

.icon-yonghutongji:before {
  content: "\e620";
}

.icon-tianjiayonghu:before {
  content: "\e630";
}

.icon-yonghuchaxun:before {
  content: "\e61f";
}

.icon-yonghuliebiao:before {
  content: "\e657";
}

.icon-yonghuguanli:before {
  content: "\e66e";
}

.icon-dianyingziyuan:before {
  content: "\e69d";
}

.icon-home:before {
  content: "\e7c6";
}

.icon-shezhi:before {
  content: "\e600";
}

.icon-yonghu:before {
  content: "\e788";
}

.icon-caidan:before {
  content: "\e790";
}
